.menu-title {
    font-size: 250%;
    width: 100%;
    text-align: center;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 10%;
    margin: auto 0;
    list-style-type: none;
}

ul li:hover {
    border-radius: 20px;
    height: 10%;
    border: 5px solid var(--main-color);
    font-size: 200%;

}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: 400;
    color: var(--second-color);
}

ul li a:hover {
    color: var(--main-color);
    font-weight: 600;
}

ul li a:hover .icons {
    display: none;
}

p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 180%;
    border-bottom: 1px solid var(--second-color);
    padding-bottom: 2vh;
}

.icons {
    width: 20px;
    padding-right: 10px;
}