.forms {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tansaction-info,
.verification-form,
.summary-table,
.confirm,
#verification {
    border: 5px solid var(--second-color);
    border-radius: 20px;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.form-elements {
    width: 100%;
    height: 20%;
    font-size: 120%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form-elements input {
    width: 60%;
    height: 30px;
    border-radius: 20px;
    border: 2px solid var(--second-color);
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    font-size: 150%;
}

.form-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 20%;
}

.form-buttons button {
    width: 40%;
    height: 50%;
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid var(--second-color);
    color: var(--second-color);
    font-weight: bold;
}

.form-buttons button:hover {
    border-color: var(--main-color);
    color: var(--main-color);
}

.form-elements .alert {
    font-size: 70%;
}

.just-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.summary-table table {
    display: table;
    width: 100%;
    height: 100%;
    font-size: 1em;
    border-collapse: collapse;
}

.summary-table table tbody tr {
    border-bottom: 1px solid var(--second-color);
}

.summary-table table tbody tr td {
    width: 50%;
    padding: 0 2vw;
    font-size: 1.5em;
}

.summary-table table thead td {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    /* border-bottom: 2px solid var(--second-color); */
    padding-bottom: 2vh;
}

.table-type {
    text-align: right;
}

.confirm h1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    font-size: 3em;
}

#tansaction-info h3,
#verification h3 {
    font-size: 4em;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-form {
    display: flex;
    height: 80%;
}

.field-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.field-div label {
    font-size: 2em;
}

.field-div input {
    height: 1.2em;
}

.error-message {
    font-size: 1rem;
    color: rgb(239, 9, 9);
}